@font-face {
  font-family: 'Chungju';
  src: url('/fonts/ChungjuKimSaengTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;